body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: gray;
}

.imgboxs {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 80px;
}
.imgboxs .box1 {
  width: 200px;
}
.imgboxs .box2 {
  width: 130px;
}
.imgboxs .box3 {
  width: 150px;
}
.imgboxs .box4 {
  width: 100px;
}

header {
  background-image: url("assets/header.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 0 70px;
  background-repeat: no-repeat;
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #212529;
}
header .menu .logo img {
  width: 200px;
  height: 50px;
}
header .menu nav a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
  color: white;
}
header .textbox {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .textbox h1, header .textbox h3 {
  color: white;
  font-size: 2.25rem;
  line-height: 2.25rem;
}
header .textbox h1 {
  padding-top: 10rem;
  font-style: italic;
  margin-bottom: 2rem;
}
header .textbox h3 {
  padding: 30px 0;
  font-size: 4.5rem;
  font-weight: 700;
}
header .textbox .btn {
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  margin-top: 3rem;
  margin-bottom: 7rem;
  background-color: #ffc800;
}

#services {
  background-color: white;
  padding: 80px;
}
#services .textbox h1, #services .textbox h2 {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
#services .textbox h2 {
  font-size: 30px;
  text-align: center;
}
#services .textbox h4, #services .textbox h3 {
  line-height: 1.5;
  padding: 20px 0 80px 0;
  text-align: center;
  font-family: Georgia, serif;
  color: #6c757d;
  font-weight: 500;
  font-size: 16px;
}
#services .textbox h3 {
  font-style: italic;
}
#services .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
#services .box .borderr {
  width: 130px;
  height: 130px;
  background-color: #ffc800;
  border-radius: 50%;
}
#services .box .borderr .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  scale: 3.8;
  color: white;
}

#portfolio {
  background-color: #F8F9FA;
  padding: 80px;
}
#portfolio .textbox h1, #portfolio .textbox h2 {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
#portfolio .textbox h2 {
  font-size: 30px;
  text-align: center;
}
#portfolio .textbox h4, #portfolio .textbox h3 {
  line-height: 1.5;
  padding: 20px 0 60px 0;
  text-align: center;
  font-family: Georgia, serif;
  color: #6c757d;
  font-weight: 500;
  font-size: 16px;
}
#portfolio .textbox h3 {
  font-style: italic;
}
#portfolio .box {
  padding: 0 0 20px 0;
  width: 420px;
  height: 420px;
  background-color: white;
}
#portfolio .box .textbox2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
#portfolio .box .textbox2 h2 {
  font-weight: 600;
  padding: 20px 0 10px;
  font-size: 30px;
  text-align: center;
}
#portfolio .box .textbox2 h4 {
  line-height: 1.5;
  text-align: center;
  font-style: italic;
  color: #6c757d;
  font-size: 16px;
}
#portfolio .box .imgbox img {
  width: 420px;
}

#about {
  background-color: white;
  padding: 80px;
}
#about .box {
  display: flex;
  padding-bottom: 80px;
}
#about .box .yellowborder {
  background-color: #ffc800;
}
#about .box h2 {
  text-align: end;
}
#about .box h4 {
  text-align: end;
}
#about .box .textbox {
  margin: 0 60px 0;
  width: 440px;
}
#about .box2 {
  display: flex;
  padding-bottom: 80px;
  flex-flow: row-reverse;
}
#about .box2 .textbox {
  margin: 0 60px 0;
  width: 440px;
}
#about .box3 {
  display: flex;
  justify-content: center;
}
#about .imgbox .border, #about .imgbox .yellowborder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #e9ecef;
}
#about .imgbox .yellowborder {
  background-color: #ffc800;
  border: 7px solid #e9ecef;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
}
#about .imgbox img {
  border-radius: 50%;
  width: 155px;
}
#about h1 {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
#about h2 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 28px;
}
#about h4 {
  line-height: 1.5;
  padding: 20px 0 20px 0;
  font-family: Georgia, serif;
  color: #6c757d;
  font-weight: 500;
  font-size: 18px;
}
#about h3 {
  line-height: 1.5;
  padding: 20px 0 60px 0;
  text-align: center;
  font-family: Georgia, serif;
  color: #6c757d;
  font-weight: 500;
  font-size: 16px;
  font-style: italic;
}

#our {
  font-family: "Montserrat", sans-serif;
  background-color: #F8F9FA;
  padding: 60px;
}
#our .col-md-4 {
  display: flex;
  justify-content: center;
}
#our .box {
  text-align: center;
}
#our .textbox3 {
  padding: 30px 250px 0;
  text-align: center;
}
#our .textbox3 h4 {
  color: #6c757d;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  padding-bottom: 20px;
}
#our .textbox {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#our .textbox h1 {
  padding: 20px;
  font-size: 42px;
  font-weight: 600;
}
#our .textbox h3 {
  color: #6c757d;
  font-style: italic;
  font-family: Georgia, serif;
  font-weight: 400;
}
#our h2 {
  padding: 25px 0 10px 0;
  font-size: 30px;
  font-weight: 600;
}
#our h4 {
  color: #6c757d;
  font-family: Georgia, serif;
  font-weight: 400;
  padding-bottom: 20px;
}
#our .imgbox {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d6d8da;
}
#our img {
  border-radius: 50%;
  width: 185px;
}
#our .logobox {
  display: flex;
  justify-content: center;
}
#our .logobox .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212529;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
}
#our .logobox .logo .icon {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 16px;
}

.imgboxs {
  width: 100%;
  background-color: white;
}

#contact .textbox .h1 {
  font-size: 28px;
}/*# sourceMappingURL=style.css.map */